html,body{
	height: 100px;
	width: 100%;
	border-radius: 10px;

}
.center{
	text-align: center;
} 
.row{
	margin: 8px 0px;
}
input.input {
    border-radius: 7px;
    padding: 15Px;
}
.button{
	padding:20px;
	margin: 2px;
	width: 50px;
	border:2px solid black;
	flex-direction: column;
	align-items: center;
	border-radius: 9px;
	cursor: pointer;
}
.button: hover{
	background-color: yellow;
}

.mx_auto{
	margin: auto;
	text-align: center;
}
